.post {
  width: 100%;
  & img {
    max-width: 100%;
    width: 900px;
  }
}
  
.postTitle {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #5a5a5a;
  font-family: Sans-serif, Arial;
}

.imageContainer {
  width: 900px;
  height: 100vh;
  max-width: 100%;
  position: relative;
}
